 {
  "builders": [
    {
      "type": "qemu",
      "accelerator": "kvm",
      "iso_url": "{{ iso_url }}",
      "iso_checksum": "{{ iso_checksum }}",
      "ssh_username": "{{ username }}",
      "ssh_password": "{{ password }}",
      "ssh_timeout": "20m",
      "format": "qcow2",
      "output_directory": "output-rocky",
      "disk_size": "{{ disk_size }}",
      "shutdown_command": "echo '{{ password }}' |  sudo -S shutdown -h +0",
      "headless": "{{ headless }}",
      "boot_wait": "5s",
      "net_device": "virtio-net",
      "disk_interface": "virtio",
      "qemuargs": [
        [ "-m", "{{ vm_memory }}" ],
        ["-smp", "{{ vm_cpu_cores }}"],
        ["-cpu", "host,+nx"]
      ],
     "boot_command": [
        "<tab><wait2> inst.ks=http://{{ httpaddr }}:{{ httpport }}/ksconfig.cfg <enter>"
        ]
    }
  ],
  "provisioners": [
    {
      "type": "shell",
      "inline": [
        "echo '{{ password }}' |  sudo dnf update -y",
        "echo '{{ password }}' |  sudo dnf install wget -y",
        "mkdir -p ~/.ssh && touch ~/.ssh/authorized_keys",
        "chmod 0600 ~/.ssh/authorized_keys",
        "wget -O - '{{ sshkeyurl  }}:{{ sshkeyport }}{{ sshkeyfile }}' >> ~/.ssh/authorized_keys",
        "wget http://{{ httpaddr }}:{{ httpport }}/debian-custom-net.txt",
        "echo '{{ password }}' |  sudo -S cp debian-custom-net.txt /etc/systemd/system/custom-net.service",
        "echo '{{ password }}' |  sudo systemctl daemon-reload",
        "echo '{{ password }}' |  sudo systemctl enable custom-net.service",
        "rm debian-custom-net.txt"
      ]
    }
  ]
  }
