 {
  "vm_name": "{{ vm_name }}",
  "vm_os": "{{ os_name }}",
  "headless":"{{ headless }}",
  "vm_os_version": "{{ os_version }}",
  "vm_is_cloud": "{{ is_cloud }}",
  "vm_static_ip": "{{ ip_addr }}",
  "vm_sshkey_url": "{{ ssh_key_url }}",
  "vm_sshkey_manual": "{{ ssh_key_manual }}",
  "domain": "{{ domain }}",
  "webserver_port" : "{{ webserver_port }}",
  "vm_options": {
    "vm_cpu_cores": "{{ vm_cpu_cores }}",
    "vm_memory": "{{ memory }}",
    "vm_disk_space": "{{ disk_space }}",
    "vm_network": "{{ vm_network }}"
  },
  "os_options": {
    "os_download": "{{ os_download }}",
    "os_checksum": "{{ os_checksum }}",
    "os_username": "{{ os_username }}",
    "os_password": "{{ os_password }}",
    "os_hashed_password": "{{ os_password_hashed }}",
    "os_hostname": "{{ os_hostname }}",
    "os_dhcp": "{{ os_dhcp }}",
    "os_proxy": "{{ os_proxy }}",
    "os_mirror": "{{ os_mirror }}"
  },

  "Lol": ["Test1", "Test2", "Test3"]
}
